.navbar{
    display:flex;
    justify-content:space-between;
    background-color: aquamarine;
    color:black;
    width: 700px;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color:black;
}
.navbar ul{
    display:flex;
    gap:20px;
    padding: 20px;
    margin:0;
}
.navbar .logo{
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}
.navbar li a:hover{
    color:rgb(red, green, blue);
    
}
